
<form action="/names" method="post">
  <label for="fname">Player_one name:</label><br>
  <input type="text" name="player_1_name"><br>
  <label for="lname">player_two name:</label><br>
  <input type="text" name="player_2_name"><br><br>
  <input type="submit" value="Submit">
</form>